@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:wght@100;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    scroll-behavior: smooth;
}

:root {
    --sidebgColor: #0e1722;
    --themeColor: #09d6bb;
    --iconbgColor: #202647;
    --textColor: #ffffff;
    --bgColor: #f7f7f7;

}

header {
    height: 100vh;
    width: 300px;
    padding: 15px 30px;
    overflow: auto;
    left: 0;
    top: 0;
    position: fixed;
    background-color: var(--sidebgColor);
    bottom: 0;
    transition: 0.4s;
    z-index: 99;
    box-shadow: 0 0 5px var(--themeColor);
}

header .profile {
    text-align: center;
    margin: 20px 0;

}

header .profile img {
    width: 150px;
    border-radius: 50%;
    border: 10px solid var(--iconbgColor);
    box-shadow: 0 15px 100px 1px #5e6ad6;
}

header .profile h1 {
    color: white;
    font-weight: 600;
}

header .profile .social-icons a {
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    text-align: center;
    line-height: 37px;
    background-color: var(--iconbgColor);
    color: white;
    font-size: 18px;
    margin: 1.5px;
    transition: 0.4s;
    margin-top: 06px;

}

header .profile .social-icons a:hover {
    background-color: var(--themeColor);

}

header nav {
    margin-top: 20px;

}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    display: inline-block;
    padding: 7px 10px;
    margin: 19px 0;
    color: lightgray;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.6px;
}

header nav ul li a i {
    margin-right: 10px;
    font-size: 20px;
    transition: 0.4s;
}

header nav ul li a:hover i {
    color: var(--themeColor);
}

header nav ul li a:hover {
    transform: translateX(5px);
}

header nav ul li .active i {
    color: var(--themeColor);

}

hr {
    border: 1px dotted var(--themeColor);
    border-radius: 50%;
}

header .footer {
    text-align: center;
    background-color: var(--sidebgColor);
    width: 300px;
    color: lightgray;
    font-size: 14px;
    letter-spacing: 0.6px;
    padding: 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    transition: 0.4s;


}

header .footer p a {
    color: var(--themeColor);
}

#menuBtn {
    position: fixed;
    bottom: 25px;
    right: 25px;
    font-size: 20px;
    height: 40px;
    width: 40px;
    color: white;
    background-color: var(--themeColor);
    text-align: center;
    line-height: 42px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0 0 0 20%);
    display: none;
    z-index: 999;
}

#menuBtn:hover {
    background-color: var(--iconbgColor);
}

main {
    margin-left: 300px;
    background-color: var(--bgColor);
    transition: 0.3s;
}
.btn {
    display: inline-block;
    font-weight: bold;
    margin: 30px 3px;
    width: fit-content;
    padding: 14px 60px;
    text-decoration: none;
    border-radius: 8px;
    color: white;
    transition: 0.4s;
    background-color: var(--themeColor);
    box-shadow: 0 0 10px var(--sidebgColor);
}

.btn:hover {
    background-color: var(--sidebgColor);
    box-shadow: none;
}
.sub-heading{
    color: #fff;
    font-size: 30px;
    margin-bottom: 10px;
    margin-top:10px;
}
.divider{
    width: 80px;
    height: 4px;
    background-color: var(--themeColor);
    border-radius: 15px;
}
.sub-para{
    color: var(--textColor);
    font-size: 15px;
    letter-spacing: 0.4px;
    font-weight: 500;
    margin-top: 20px;

}
#contact{
    
    background: #2b5876;
    background: -webkit-linear-gradient(to right, #4e4376 ,#2b5876);
    background: linear-gradient(to right, #4e4376,#2b5876);
    padding:70px 30px;
   
}
#contact .contact-row{
    margin-top: 50px;
    display: flex;
    gap: 20px;
    width: 100%;

}
#contact .contact-row .contact-left{
    flex:40%;
    min-width: 40%;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0,0, 20%);
    border-radius: 4px;
    padding:30px;
     
}
#contact .contact-row .contact-left .icon-box{
    display: flex;
    gap: 15px;
    text-align: center;
    margin: 30px 0;
}
#contact .contact-row .contact-left .icon-box .icon i{
    width: 50px;
    height: 50px;
    border-radius: 50%;
     border: 2px solid var(--themeColor);
     text-align: center;
     line-height: 47px;
     font-size: 20px;
     color: var(--themeColor);
     transition: 0.4s;
}
#contact .contact-row .contact-left .icon-box:hover .icon i{
    background-color: var(--themeColor);
    color: var(--bgColor);
}
#contact .contact-row .contact-left .icon-box  .info h4{
    font-size: 20px;
    font-weight: 600;
    color: var(--sidebgColor);


}
#contact .contact-row .contact-left .icon-box  .info h4 + p{
    font-size: 15px;
    font-weight: 500;
    color: var(--sidebgColor);

}
#contact .contact-row  .contact-right{
    flex-basis: 60%;
    min-width: 60%;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0,0, 20%) ;
    border-radius: 4px;
    padding: 30px;
}
#contact .contact-row  .contact-right form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0;

}
#contact .contact-row  .contact-right form input,
#contact .contact-row  .contact-right form textarea{
    display: flex;

    width: 100%;
    margin:5px 0;
    font-size: 15px;
    font-weight: 500;
    color:   var(--sidebgColor);
    padding: 10px 20px;
    border: 2px solid lightgray;
    border-radius: 2px;
    outline: none;

    resize: none;
    transition: 0.5s;

}
#contact .contact-row  .contact-right form input:focus,
#contact .contact-row  .contact-right form textarea:focus{

    border: 2px solid var(--themeColor);
}
#contact .contact-row  .contact-right form input[type=submit]{
    background-color: var(--themeColor);
    color: var(--bgColor);
    border: 2px solid var(--themeColor);
    font-size: 17px;
    font-weight: 400;
    cursor: pointer;
}
#contact .contact-row  .contact-right form input[type=submit]:hover{
    background-color: var(--iconbgColor);
}
@media only screen and (max-width:800px) {
#contact{
    
    padding:50px; 
}
#contact .contact-row{
    flex-direction: column;
    gap: 10px;
  

}
}
@media only screen and (max-width:500px) {
  #contact{
    
    padding:50px 10px ; 
}
}
   